html,
body {
    margin: 0;
    height: 100%;
    background-color: #EAEAEA !important;
}

#map {
    width: 100%;
    height: 85vh;
}

.container__table {
    height: 120px;
    overflow-y: auto;
    /* or scroll */
}

#panel {
    height: 270px !important;
}